@media (min-width: 768px) {
  .navbar-brand.abs
  {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}
.navBig{
  display: none;
}
@media (max-width: 768px) {
  .navMedium {
    display: none;
  }
  .navSmall{
    display: none;
  }
  .navBig{
    display: block;
  }
}


::-webkit-scrollbar {
  height: 10px;
  background: #1E62A1;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #78A1C6;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #78B2d7;
  cursor: pointer;
}
li{
  list-style: none;
}
.ul{
  padding: 0 !important;
  margin-right: 5px;
}
.nav-item{
  background-color: hsla(0,0%,100%,0.3);
  margin-left: 2px;
  border-radius: 4px;
  color: #FFFFFF !important;
  font-weight: bold;
}
.nav-item:hover{
  background-color: hsla(0,0%,100%,0.1);
}
.navbar{
  background-color: #026aa7;
}
.navbar-dark .navbar-nav .nav-link {
  color: #FFFFFF !important;
}
.show>.dropdown-menu {
  left: 80%;
  transform: translateX(-80%);
  margin-top: 10px !important;
  padding: 15px;
  width: 400px !important;
}
.dropdown-toggle::after {
  display:none;
}
.dropdown-header{
  text-align: center;
}
.dropdown-content:hover{
  color: #FFFFFF;
  background-color: #026aa7;
}
.dropdown_content_text{
  font-size: 10px;
}
@media (max-width: 768px) {
  .show>.dropdown-menu {
    left: 80%;
    transform: translateX(-80%);
    margin-top: 10px !important;
    padding: 15px;
    width: 400px !important;
  }
  .dropdown-toggle::after {
    display:none;
  }
  .dropdown-header{
    text-align: center;
  }
  .dropdown-content:hover{
    color: #FFFFFF;
    background-color: #026aa7;
  }
  .dropdown_content_text{
    font-size: 10px;
  }
}
.nav2 a {
  color: #FFFFFF;
  font-size: 15px;
  margin-top: 2px;
  background-color: transparent;
  padding: 7px 10px;
}

.nav2 a:hover{
  background-color: #026aa7;
  border-radius: 4px;
}
.vr{
  float: left;
  border-left: 1px solid hsla(0,0%,100%,.2);
  height: 22px;
  margin: 10px 7px 0 20px;
}
.badge{
  background-color: hsla(0,0%,100%,.3);
  padding: 4px 7px;
  border-radius: 50px;
}
.circle{
  color: #FFFFFF;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: hsla(0,0%,100%,.3);
  padding: 4px;
  text-align: center;
  margin-top: 2px;
}
.circle_admin{
  color: #000000;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: gainsboro;
  margin:2px 0 0 20px;
  padding: 4px;
  text-align: center;
}
.circle:hover{
  background-color: #026aa7;
  cursor: pointer;
}
.circle_admin:hover{
  background-color: darkgray;
  cursor: pointer;
}
.add_collum{
  width: 250px;
  background-color: #026aa7;
  color: #fff;
  padding: 8px;
  text-align: center;
  margin-top: 2px;
  border-radius: 4px;
  margin-right: 20px;
}
.add_collum:hover{
  cursor:pointer;
  background-color: #026aa0;
}
.add_list{
  width: 250px;
  /*height: 88px;*/
  background-color:gainsboro;
  border-radius: 4px;
  padding: 8px;
  margin-top: 2px;
  display: none;
  margin-right: 20px;

}

.lists{
  margin: 0;
  padding: 8px;
  background-color:gainsboro;
  min-height: 10px;
  border-radius: 4px;
  min-width: 200px;
}
.btn_card{
  color: gray;
  background-color:transparent;
  text-align: center;
  width: 188px;
  margin: 5px;
}
.btn_card:hover{
  background-color: darkgray;
  color: white;
}
.add_card{
  width: 198px;
  background-color:gainsboro;
  border-radius: 4px;
  padding: 0 ;
  display: none;
}
.cardColum{
  border-radius: 4px;
  background-color: white;
  padding: 4px !important;
  margin-top: 2px;
  cursor: pointer;
}
.ulLists{
  margin: 0;
  padding: 0;
  min-height: 10px;
}
.cardAndListConteiner{
  width: 100%;
  position: absolute;
  bottom: 0;
  top: 132px;
  left: 0;
  right: 0;
  padding: 0;
  margin-bottom: 8px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.closeAddCardFormButton{
  color: gray;
  background-color: transparent;
  border: none;
  float: right;
  border-radius: 4px;
}
.closeAddCardFormButton:hover{
  color: black;
}
.closeAddListFormButton{
  color: gray;
  background-color: transparent;
  border: none;
  float: right;
  border-radius: 4px;
}
.closeAddListFormButton:hover{
  color: #000000;
}

.cardContainer{
  overflow-y: auto;
  max-height: 600px
}

.cardContainer::-webkit-scrollbar {
  width: 5px;
  background: #FFFFFF;
  border-radius: 10px;
}

/* Track */
.cardContainer::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.cardContainer::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
.cardContainer::-webkit-scrollbar-thumb:hover {
  background: darkgray;
  cursor: pointer;
}
.edit{
  background-color: transparent;
}
.edit:hover{
  background-color: lightgray;
  color: darkgreen;
}
.delete{
  background-color: transparent;
}
.delete:hover{
  background-color: lightgray;
  color: crimson;
}

