                                 <!--medium navbar-->

<div class="container-fluid" style="padding: 0px !important; margin: 0px !important">
  <nav class="navbar navbar-expand-md navbar-dark heder navMedium" #Nav1 style="padding: 0.5rem 0rem; z-index: 2">
    <a class="navbar-brand abs" href="#">
    <span class="logo">
      <img src="../../assets/images/trello-logo-white.svg" alt="" width="80" height="30">
    </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar" style="text-align: center; background-color: #026aa7;">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-home"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fab fa-trello"></i>
            Board
          </a>
        </li>
        <li class="nav-item">
          <div class="row no-gutters">
            <div class="col">
              <input class="form-control border-right-0 rounded-0" type="search" style="background-color: hsla(0,0%,100%,0); border:none; cursor: pointer">
            </div>
            <div class="p-2">
              <i class="fa fa-search"></i>
            </div>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown" style="cursor:pointer">
          <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <i class="fas fa-plus"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <h6 class="dropdown-header">Sozdat</h6>
            <hr>
            <div class="dropdown-content doska">
              <h5 class="font-weight-bold">Sozdat Dosku</h5>
              <p class="dropdown_content_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci
                aliquid blanditiis cumque deserunt dicta dolor dolore ducimus earum eos maiores, nam nulla ut veniam
                veritatis. Impedit itaque quas veritatis!</p>
            </div>
            <div class="dropdown-content komanda">
              <h5 class="font-weight-bold">Sozdat Komandu</h5>
              <p class="dropdown_content_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci
                aliquid blanditiis cumque deserunt dicta dolor dolore ducimus earum eos maiores, nam nulla ut veniam
                veritatis. Impedit itaque quas veritatis!</p>

            </div>
            <div class="dropdown-content bisnes comanda">
              <h5 class="font-weight-bold">Sozdat Biznes Komandu</h5>
              <p class="dropdown_content_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci
                aliquid blanditiis cumque deserunt dicta dolor dolore ducimus earum eos maiores, nam nulla ut veniam
                veritatis. Impedit itaque quas veritatis!</p>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" data-target="#" data-toggle="modal">
            <i class="fa fa-info-circle"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" data-target="#" data-toggle="modal">
            <i class="fas fa-bell"></i>
          </a>
        </li>
        <div class="circle_admin">MA</div>
      </ul>
    </div>
  </nav>

                                     <!--big navbar mobile wersion-->

  <nav class="navbar navbar-expand-md navbar-dark heder navBig" #Nav1 style="padding: 0.5rem 0rem; z-index: 2;">
    <a class="navbar-brand abs" href="#">
    <span class="logo">
      <img src="../../assets/images/trello-logo-white.svg" alt="" width="80" height="30">
    </span>
    </a>
    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="nav nav2">
      <a class="nav-link font-weight-bold " href="#">New Dask</a>
      <a class="nav-link" href="#">
        <i class="far fa-star"></i>
      </a>
      <span class="vr"></span>
      <a class="nav-link" href="#">
        Team
        <span class="badge">Free </span>
      </a>
      <span class="vr"></span>
      <a class="nav-link disabled" href="#">
        <i class="fas fa-lock"></i>
        Private
      </a>
      <span class="vr"></span>
      <div class="circle_admin">MA</div>
      <div class="circle">1</div>
      <div class="circle" style="margin-left: 20px">
        <i class="fas fa-user-plus"></i>
      </div>
    </nav>
    <div class="navbar-collapse collapse" id="collapsingNavbar" style="text-align: center; background-color: #026aa7;">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-home"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fab fa-trello"></i>
            Board
          </a>
        </li>
        <li class="nav-item">
          <div class="row no-gutters">
            <div class="col">
              <input class="form-control border-right-0 rounded-0" type="search" style="border-radius: 10px; cursor: pointer">
            </div>
            <div class="p-2">
              <i class="fa fa-search"></i>
            </div>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown" style="cursor:pointer">
          <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <i class="fas fa-plus"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <h6 class="dropdown-header">Sozdat</h6>
            <hr>
            <div class="dropdown-content doska">
              <h5 class="font-weight-bold">Sozdat Dosku</h5>
              <p class="dropdown_content_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci
                aliquid blanditiis cumque deserunt dicta dolor dolore ducimus earum eos maiores, nam nulla ut veniam
                veritatis. Impedit itaque quas veritatis!</p>
            </div>
            <div class="dropdown-content komanda">
              <h5 class="font-weight-bold">Sozdat Komandu</h5>
              <p class="dropdown_content_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci
                aliquid blanditiis cumque deserunt dicta dolor dolore ducimus earum eos maiores, nam nulla ut veniam
                veritatis. Impedit itaque quas veritatis!</p>

            </div>
            <div class="dropdown-content bisnes comanda">
              <h5 class="font-weight-bold">Sozdat Biznes Komandu</h5>
              <p class="dropdown_content_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci
                aliquid blanditiis cumque deserunt dicta dolor dolore ducimus earum eos maiores, nam nulla ut veniam
                veritatis. Impedit itaque quas veritatis!</p>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" data-target="#" data-toggle="modal">
            <i class="fa fa-info-circle"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" data-target="#" data-toggle="modal">
            <i class="fas fa-bell"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>

                            <!--small navbar-->

  <nav class="nav nav2 navSmall">
    <a class="nav-link font-weight-bold " href="#">New Dask</a>
    <a class="nav-link" href="#">
      <i class="far fa-star"></i>
    </a>
    <span class="vr"></span>
    <a class="nav-link" href="#">
      Team
      <span class="badge">Free </span>
    </a>
    <span class="vr"></span>
    <a class="nav-link disabled" href="#">
      <i class="fas fa-lock"></i>
      Private
    </a>
    <span class="vr"></span>
    <div class="circle_admin">MA</div>
    <div class="circle">1</div>
    <div class="circle" style="margin-left: 20px">
      <i class="fas fa-user-plus"></i>
    </div>
  </nav>
</div>
                                 <!--lists and cards container-->

<div class="container-fluid cardAndListConteiner mt-1">
  <div class="row"  style="flex-wrap: nowrap; margin-left: 0; overflow-x: auto; min-height: 780px" #cardAndListConteiner>
    <div *ngFor="let list of arr; let listIndex = index" style="padding: 4px !important;">
      <div class="col-12 lists">
        <div class="col-12">
          <div class="container">
            <div class="row">
              <div class="col-10">
                <h6 class="font-weight-bold m-0">{{list.listName}}</h6>
              </div>
              <div class="col-2 deleteList" style="cursor: pointer">
                <i class="far fa-edit"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 p-0 ">
          <div class="container-fluid p-0">
            <ul dragula="dragdrop" id="{{list._id}}" class="ulLists cardContainer">
              <li   *ngFor="let card of list.card; let i = index" id="{{card._id}}" value="{{i}}" style="margin-top: 2px">
                <div class="container-fluid " >
                  <div class="container cardColum">
                    {{card.cardName}}

                                         <!--edit card modal-->

                    <ng-template #contentEdit let-c="close" let-d="dismiss">
                      <div class="modal-header">
                        <h6>Edit Card</h6>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <input class="form-control rounded-4" type="text" name="{{card._id}}" value="{{card.cardName}}" #modalCardInput>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="save(modalCardInput.value,modalCardInput.name,d)">Save</button>
                      </div>
                    </ng-template>

                                            <!--delete card modal-->

                    <ng-template #contentDelete let-c="close" let-d="dismiss">
                      <div class="modal-header">
                        <h6>Delete Card</h6>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" style="text-align: center">
                        <p>Are you sure want to delete this card?</p>
                        <button type="button" class="btn btn-outline-dark mr-1" (click)="delete(card._id,d)">Yes</button>
                        <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">No</button>
                      </div>
                    </ng-template>

                                               <!--delete catd button-->

                    <button class="btn btn-xs float-right p-0 delete"  (click)="deleteCard(contentDelete)">
                      <i class="fas fa-trash-alt p-1"></i>
                    </button>

                                               <!--delete catd button-->

                    <button class="btn btn-xs float-right p-0 edit"  (click)="editCard(contentEdit)">
                      <i class="fas fa-pencil-alt p-1"></i>
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <div class="container p-0">

                                                <!--add card button-->

            <button class="btn btn_card" (click)="addCardColum(AddCardColum,AddCard)" #AddCardColum>
              <i class="fas fa-plus" style="margin-top: 3px; margin-right: 20px"></i>
              Add Card
            </button>

                                            <!--new card and loop card registration conteainer-->

            <div class="container-fluid add_card" #AddCard>
              <input class="form-control border-right-0 rounded-4" type="text" placeholder="Enter Card Name" style="border-radius: 4px" #CardName>
              <select class = "form-control" #LoopCrdOption (change)="selectOptinValue($event.target.value)">
                <option value="1">Hourly</option>
                <option value="2">Dayly</option>
                <option value="3">Weekly</option>
                <option value="4">Monthly</option>
              </select>
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-success" (click)="addCard(AddCard,AddCardColum,CardName,list._id)">Add Card</button>
                  <button class="btn btn-success" (click)="addLoopCard(AddCard,AddCardColum,CardName,list._id)">Add Loop Card</button>
                </div>
                <div class="col-6">
                  <button class="btn closeAddCardFormButton" (click)="closeAddCardForm(AddCard,AddCardColum)">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>

                                     <!--new list registration container      -->

      <div class="container-fluid add_list" #AddList>
        <input class="form-control rounded-2" type="text" placeholder="Enter List Name"
               style="border-radius: 4px" #ListName>
        <button class="btn btn-success" (click)="addList(AddList,AddColum,ListName)">Add List</button>
        <button class="btn closeAddListFormButton" (click)="closeAddListForm(AddList,AddColum)">
          <i class="fas fa-times"></i>
        </button>
      </div>

                               <!--add new list button-->

      <div class="container-fluid add_collum" (click)="addColum(AddColum,AddList)" #AddColum>
        <i class="fas fa-plus" style="float: left; margin-top: 3px;"></i>
        Add New List
      </div>
    </div>
  </div>
</div>



